#search-keyword-feedlist {
  position: fixed;
  top: 45px;
  width: 100%;
}

/* searchFeedDetailHeader */
#search-feed-detail-header {
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

#search-feed-detail-header > .cancel {
  height: 24px;
}

#search-feed-detail-header > .cancel > span {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

#search-feed-detail-header > .context {
  font-weight: bold;
}

/* searchFeedDetailMain */
#search-feed-detail-main {
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 45px;
  overflow: scroll;
}

#search-feed-detail-main > div > div > .feed-detail-header {
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#search-feed-detail-main > div > div > .feed-detail-header > div:first-child {
  display: flex;
  align-items: center;
}

#search-feed-detail-main
  > div
  > div
  > .feed-detail-header
  > div:first-child
  > div:first-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#search-feed-detail-main > div > div > .feed-detail-img {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#search-feed-detail-main > div > div > .feed-detail-header > div > div > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#search-feed-detail-main
  > div
  > div
  > .feed-detail-header
  > div
  > div:nth-child(2) {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

#search-feed-detail-main > div > div > .feed-detail-header > div > span {
  color: rgba(0, 0, 0, 0.38);
  font-size: 24px;
}

#search-feed-detail-main > div > div > .feed-detail-img {
  /* padding-bo */
}

#search-feed-detail-main > div > div > .feed-detail-img > img {
  width: 100%;
}

#search-feed-detail-main > div > div > .feed-detail-menu {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 10px;
}

#search-feed-detail-main > div > div > .feed-detail-menu > div {
  height: 24px;
  width: 24px;
  margin-right: 14px;
  color: rgba(0, 0, 0, 0.87);
}

#search-feed-detail-main > div > div > .feed-detail-content {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
}

/* 좋아요 */
#search-feed-detail-main
  > div
  > div
  > .feed-detail-content
  > div:nth-child(1) {
  font-weight: bold;
  margin-bottom: 10px;
}

/* 닉네임 내용 */
#search-feed-detail-main
  > div
  > div
  > .feed-detail-content
  > div:nth-child(2) {
  display: flex;
}

#search-feed-detail-main
  > div
  > .feed-detail-content
  > div:nth-child(2)
  > div {
  margin-right: 5px;
}

#search-feed-detail-main
  > div
  > .feed-detail-content
  > div:nth-child(2)
  > div:nth-child(1) {
  font-weight: bold;
}

#search-feed-detail-main
  > div
  > .feed-detail-content
  > div:nth-child(2)
  > div:nth-child(2)
  > span {
  color: rgba(0, 0, 0, 0.38);
}

/* 댓글 */
#search-feed-detail-main
  > div
  > div
  > .feed-detail-content
  > div:nth-child(3) {
  color: rgba(0, 0, 0, 0.38);
}

#search-feed-detail-main > div > div > .feed-detail-date {
  padding: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}
