#search-keyword-feedlist {
  max-width: 800px;
  min-width: 300px;
  width: 100%;
}

/* searchFeedDetailHeader */
#search-feed-detail-header {
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
}

#search-feed-detail-header > span:hover {
  cursor: pointer;
}

#search-feed-detail-header > div {
  font-size: 20px;
  font-weight: bold;
}

#search-feed-detail-header > .cancel {
  height: 24px;
}

#search-feed-detail-header > .cancel > span {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

#search-feed-detail-header > .context {
  font-weight: bold;
}

/* searchFeedDetailMain */
#search-keyword-feedlist#search-feed-detail-main {
  overflow: scroll;
}

#search-keyword-feedlist #search-one-feed {
  margin: 35px 20px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  border-radius: 12px;
}

#search-feed-detail-main > div > div > .feed-detail-header {
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#search-feed-detail-main > div > div > .feed-detail-header > div:first-child {
  display: flex;
  align-items: center;
}

#search-feed-detail-main
  > div
  > div
  > .feed-detail-header
  > div:first-child
  > div:first-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#search-feed-detail-main > div > div > .feed-detail-header > div > div > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#search-feed-detail-main
  > div
  > div
  > .feed-detail-header
  > div
  > div:nth-child(2) {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

#search-feed-detail-main > div > div > .feed-detail-header > div > span {
  color: rgba(0, 0, 0, 0.38);
  font-size: 24px;
}

#search-feed-detail-main #feed-detail-img {
  /* padding-bo */
}

#search-feed-detail-main #feed-detail-img > img,
video {
  width: 100%;
}

#search-feed-detail-main > div > div > .feed-detail-menu {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search-feed-detail-main > div > div > .feed-detail-menu #comment-btn {
  margin-top: -2px;
  margin-left: 8px;
}

#search-feed-detail-main > div > div > .feed-detail-menu #like-status-btn,
#unlike-status-btn,
#comment-btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-items: flex-start;
  margin-left: 10px;
}

#search-feed-detail-main > div > div > .feed-detail-content {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

#search-feed-detail-main
  > div
  > div
  > .feed-detail-content
  #feed-detail-content-box {
  width: 70%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

/* 좋아요 */
#search-feed-detail-main > div > div > .feed-detail-content > div:nth-child(1) {
  font-weight: bold;
}

/* 닉네임 내용 */
#search-feed-detail-main .feed-detail-content #feed-one-content {
  font-size: 13px;
  align-items: center;
  display: flex;
  margin: 10px 0;
}

#search-feed-detail-main .feed-detail-content #feed-one-content > p {
  font-size: 13px;
}

#search-feed-detail-main
  .feed-detail-content
  #feed-one-content
  > p:nth-child(1) {
  font-weight: bold;
  margin-right: 10px;
}

#search-feed-detail-main > div > .feed-detail-content > div:nth-child(2) > div {
  margin-right: 5px;
}

#search-feed-detail-main
  > div
  > .feed-detail-content
  > div:nth-child(2)
  > div:nth-child(1) {
  font-weight: bold;
}

#search-feed-detail-main
  > div
  > .feed-detail-content
  > div:nth-child(2)
  > div:nth-child(2)
  > span {
  color: rgba(0, 0, 0, 0.38);
}

/* 더보기 */
#search-feed-detail-main > div > div > .feed-detail-content > div:nth-child(3) {
  color: rgba(0, 0, 0, 0.38);
}

/* 게시 날짜 */
#search-feed-detail-main > div > div > .feed-detail-date {
  padding: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.38);
}

@media (min-width: 736px) {
  #search-keyword-feedlist #search-one-feed {
    margin: 50px 25px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  }

  #search-feed-detail-main > div > div > .feed-detail-header {
    padding: 20px 13px;
    display: flex;
    height: 75px;
  }

  #search-feed-detail-main > div > #search-one-feed #profile-img {
    width: 60px;
    height: 60px;
  }

  #search-feed-detail-main > div > #search-one-feed #profile-username {
    font-size: 20px;
    margin-left: 20px;
  }

  #search-feed-detail-main > div > div > .feed-detail-menu {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
  }

  #search-feed-detail-main > div > div > .feed-detail-menu #comment-btn {
    margin-left: 10px;
  }

  #search-feed-detail-main > div > div > .feed-detail-menu #like-status-btn,
  #unlike-status-btn,
  #comment-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-items: flex-start;
  }

  #search-feed-detail-main > div > div > .feed-detail-content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
  }

  /* 닉네임 내용 */
  #search-feed-detail-main .feed-detail-content #feed-one-content {
    font-size: 18px;
    align-items: center;
    display: flex;
    margin: 20px 5px;
  }

  #search-feed-detail-main .feed-detail-content #feed-one-content > p {
    font-size: 18px;
  }

  #search-feed-detail-main
    .feed-detail-content
    #feed-one-content
    > p:nth-child(1) {
    font-weight: bold;
    margin-right: 10px;
  }

  /* 더보기 */
  #search-feed-detail-main
    > div
    > div
    > .feed-detail-content
    > div:nth-child(3) {
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    padding-left: 5px;
  }

  /* 게시 날짜 */
  #search-feed-detail-main > div > div > .feed-detail-date {
    font-size: 13px;
    padding: 20px 20px;
  }
}
